@import url('./fonts/fonts.css');

/* Стилі для всіх сторінок і блоків */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bakery-landing-1-background: #faf4ea;
    --bakery-landing-1-s1: #31261a;
    --bakery-landing-1-c2: #819b57;
    --bakery-landing-1-s3: #465929;
    --bakery-landing-1-s4: #a18268;
    --bakery-landing-1-c5: #cfcfbc;
    --beauty-landing-2-background: #fff;
    --beauty-landing-2-s2: #2b7fff;
    --beauty-landing-2-c1: #011c44;
    --beauty-landing-2-c3: #4a4a4a;
    --beauty-landing-2-s4: #ffd02b;
    --beauty-landing-2-s5: #747272;
    --beauty-landing-2-c6: #011f4a;
    --dog-landing-3-background: #fff;
    --dog-landing-3-s1: #ff9f0e;
    --dog-landing-3-s2: #fcb62a;
    --dog-landing-3-c3: #fffaf3;
    --dog-landing-3-c4: #181817;
    --dog-landing-3-c5: #f1f3ff;
    --dog-landing-3-c6: #839aa9;
    --dog-landing-3-s8: #f9f9ff;
    --dog-landing-3-c9: #d9a6ff;
    --dog-landing-3-c10: #ff6e9f;

    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}

html,
body {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--beauty-landing-2-c1);
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 64px;
    font-family: "Play";
    font-weight: bold;
}

button {
    background-color: var(--beauty-landing-2-s2);
    font-family: inherit;
}

svg {
    width: 1em;
    height: 1em;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    padding: 0px 30px;
    width: 100%;
    max-width: 1300px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.flex-align-items {
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.gap-32px {
    gap: 32px;
}

.gap-56px {
    gap: 56px;
}

.font-base {
    font-family: var(--font-family);
}

.font-2 {
    font-family: var(--second-family);
}

.font-3 {
    font-family: var(--third-family);
}


.btn {
    --bg: #5c62ec;
    --color: #fff;
    background-color: var(--beauty-landing-2-s2);
    color: var(--color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 10px 28px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    color: var(--color);
    opacity: 0.8;
}

/* Блок header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    min-height: 106px;
    display: flex;
    padding-left: 100px;

}

.main-header .main-navigation-link {
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
}

.main-header .main-navigation-link:hover,
.main-header .main-navigation-link.active {
    font-weight: 700;
    color: var(--beauty-landing-2-s2);
}

.main-header .header-icons {
    font-size: 32px;
}

.main-header .header-icons .header-icon-link {
    color: var(--beauty-landing-2-c1);
    display: block;
}

.main-header .header-icons .header-icon-link:hover {
    color: var(--beauty-landing-2-s2);
}

.main-header .header-icons .icon {
    display: block;
}

/* Блок hero */
.hero-section {

    background-image: url(./images/fon.png);
    background-size: cover;
    /* картинка покриває весь блок, не обрізається занадто */
    background-position: center top;
    /* початок картинки прилип до верху */
    background-repeat: no-repeat;
    min-height: 100vh;
    /* щоб секція займала весь екран */
    padding-top: 106px;
    /* висота хедера, щоб контент не ховався під ним */
}

.hero-section .hero-section-hold {
    max-width: 408px;
    margin-left: 100px;
    margin-top: 5px;

}

.hero-section .hero-section-title {

    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
}

.hero-section .hero-section-title-bg {
    font-weight: 700;
    font-size: 140px;
    line-height: 81%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    margin-bottom: 40px;
}

.hero-section .hero-section-button {
    margin-bottom: 15px;
}

.hero-section .button-hold {
    max-width: 238px;

}

.hero-section .hero-section-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--beauty-landing-2-c3);
}

/* 
Second-section Друга секція Перевтілюйтеся в beauty zone */

.blue_wave_background {
    background-image: url(./images/backgroundnostar.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -7px;
    background-size: cover;
}


.second-section {
    position: relative;

}

.second-section span {
    color: var(--beauty-landing-2-s2);
}

.second-section .text-holder {

    max-width: 709px;
    /* background-color: #819b57; */

}

.second-section .text-holder .h2_span {
    margin-bottom: 40px;

}

.second-section .text-holder .bold_cap {
    font-weight: 600;
    text-transform: capitalize;
    color: inherit;

}

.second-section .text-holder p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--beauty-landing-2-c1);
    margin-bottom: 40px;

}

/* Cекція чому люди обирають нас why us */
.why-us-section {
    width: 100%;
    margin-bottom: 110px;
}

.why_us_cards_text_holder {

    width: 100%;
    max-width: 1060px;
    gap: 60px;
    margin: 150px auto 0 auto;
}

.card {

    max-width: 316px;
    padding: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #000;
    background-color: #011f4a;
    border-radius: 32px;
    max-width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--beauty-landing-2-background);
}

.why-us-section span {
    color: var(--beauty-landing-2-s2);

}

.why-us-section h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 78px;
    margin-bottom: 62px;
}

.why-us-text-holder {
    max-width: 432px;
    margin: 0 auto;
}

.why-us-section svg {
    width: 48px;
    height: 48px;
}

/* секція Наші процедури */
.our_procedures-section {}

.our_procedures_text_card_holder {
    text-align: center;
    max-width: 1216px;
    gap: 48px;

}

.our_procedures_tex_holder span {
    color: var(--beauty-landing-2-s2);
}

.our_procedures_card_holder {
    margin-top: 60px;
    gap: 12px;



}

.our_procedures_card_holder .im-bg-1 {
    width: 344px;
    height: 456px;
    border-radius: 4px 120px;
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0) 47.4%,
            rgba(1, 28, 68, 0.73) 82.66%,
            #011c44 99.06%),
        url(./images/image1580opt.jpg);


}

.our_procedures_card_holder .im-bg-2 {
    width: 344px;
    height: 456px;
    border-radius: 4px 120px;
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0) 47.4%,
            rgba(1, 28, 68, 0.73) 82.66%,
            #011c44 99.06%),
        url(./images/image1570opt.jpg);



}

.our_procedures_card_holder .im-bg-3 {
    width: 344px;
    height: 456px;
    border-radius: 4px 120px;
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0) 47.4%,
            rgba(1, 28, 68, 0.73) 82.66%,
            #011c44 99.06%),
        url(./images/image1574opt.jpg);


}

.our_procedures_card_holder .im-bg-1,
.our_procedures_card_holder .im-bg-2,
.our_procedures_card_holder .im-bg-3 {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    color: var(--beauty-landing-2-background);

}