.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

/* =========================
     ≥ 480px
     ========================= */
@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

/* =========================
     ≥ 768px
     ========================= */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 24px;
    }
}

/* =========================
     ≥ 1200px
     ========================= */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 32px;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint ==sm {
        @media screen and (max-width: 480px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media screen and (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
}

// Приклад:
// .container {
//     width: 100%;
//     margin: 0 auto;

//     @include respond(sm) {
//       max-width: 480px;
//     }

//     @include respond(md) {
//       max-width: 768px;
//       padding: 0 24px;
//     }

//     @include respond(lg) {
//       max-width: 1200px;
//       padding: 0 32px;
//     }
//   }