.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

/* =========================
     ≥ 480px
     ========================= */
@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

/* =========================
     ≥ 768px
     ========================= */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 24px;
    }
}

/* =========================
     ≥ 1200px
     ========================= */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 32px;
    }
}