@import url('./fonts/fonts.css');
@import "./media";
@import "./components/fotter";
@import "./components/header";
@import "./components/herosection";
@import "./components/howtofindussection";
@import "./components/mobilemenu";
@import "./components/modal";
@import "./components/ourproceduressection";
@import "./components/secondsection";
@import "./components/whyussection";
@import "./utils/utils";
@import "./utils/variables";
@import "./base";