//@import './fonts/fonts.css';

@import "./base";
@import "./utils/variables";
@import "./utils/utils";
@import "./media";

@import "./components/fotter";
@import "./components/header";
@import "./components/herosection";
@import "./components/howtofindussection";
@import "./components/modal";
@import "./components/ourproceduressection";
@import "./components/secondsection";
@import "./components/whyussection";
@import "./components/mobilemenu";