@import url('./fonts/fonts.css');
@import "_variables.scss";

@import "/scss/utils/base";

@import "_utils.scss";
@import "/scss/components/buttons.scss";
@import "/scss/components/header.scss";
@import"/scss/components/secondsection";
@import "/scss/components/whyussection";
@import "/scss/components/ourproceduressection";
@import "/scss/components/howtofindussection";
@import "/scss/components/fotter.scss";
@import "/scss/components/modal.scss"