.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    min-height: 106px;
    display: flex;
    padding-left: 100px;

    .main-header__navigation-link {
        font-weight: 400;
        font-size: 18px;
        color: var(--beauty-landing-2-c1);
    }

    .header-icons {
        font-size: 32px;

        .header-icon-link {
            color: var(--beauty-landing-2-c1);
            display: block;
        }

    }
}

.header-icons .header-icon-link:hover {
    color: var(--beauty-landing-2-s2);
    transition: 0.2s;
}

.header-icons .icon {
    display: block;

}

@media (max-width: 768px) {
    .main-header {
        display: none;
    }
}