/* Блок hero */
.hero-section {

    "background-image: url("../css/images/fon.png");
    background-size: cover;
    /* картинка покриває весь блок, не обрізається занадто */
    background-position: center top;
    /* початок картинки прилип до верху */
    background-repeat: no-repeat;
    min-height: 100vh;
    /* щоб секція займала весь екран */
    padding-top: 106px;
    /* висота хедера, щоб контент не ховався під ним */
}

.hero-section .hero-section-hold {
    max-width: 408px;
    margin-left: 100px;
    margin-top: 5px;

}

.hero-section .hero-section-title {

    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
}

.hero-section .hero-section-title-bg {
    font-weight: 700;
    font-size: 140px;
    line-height: 81%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    margin-bottom: 40px;
}

.hero-section .hero-section-button {
    margin-bottom: 15px;
}

.hero-section .button-hold {
    max-width: 238px;

}

.hero-section .hero-section-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--beauty-landing-2-c3);
}
