/* ===== MOBILE FIRST: базові стилі (0..767) ===== */

// прибрати фото з мобільної версі
.second-section .container img {
    display: none;
}

.our_procedures_text_card_holder .im-bg-2 {
    display: none !important
}

.our_procedures_text_card_holder .im-bg-3 {
    display: none !important
}

/* тулбар на мобілці видно */
.mobile-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    min-height: 46px;
    z-index: 1000;

    // background-color: rgba(0, 0, 255, 0.9);
    /* замість opacity */
}

/* десктопний хедер на мобілці ховаємо */
.main-header {
    display: none;
}

/* меню закрите за замовчуванням */
.mobile-menu {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.4);
}

.mobile-menu.is-open {
    display: block;
}

.menu-btn-open {
    margin-left: auto;
}

.why-us-section .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.how_to_find_us-section .how-to-find-wrapper {
    flex-direction: column-reverse;
    gap: 16px;
}

.main-footer {
    margin-top: 22px;
}

/* ===== ≥480px ===== мобільна версія*/
@media (min-width: 480px) {
    .mobile-menu__inner {
        max-width: 360px;
    }


}


/* ===== ≥768px (tablet/desktop) ===== */
@media (min-width: 768px) {
    .main-header {
        display: flex;

    }

    .mobile-toolbar,
    .mobile-menu {
        display: none !important;
    }

    .second-section .container img {
        display: block;
    }

    .our_procedures_text_card_holder .im-bg-2 {
        display: block !important
    }

    .our_procedures_text_card_holder .im-bg-3 {
        display: block !important
    }

    .why-us-section .cards {
        flex-direction: row;
        gap: 32px;
    }

    .how_to_find_us-section .how-to-find-wrapper {
        flex-direction: row;
    }

    .main-footer {
        margin-top: 93px;
    }
}

/* ===== ≥1200px ===== */
@media (min-width: 1200px) {}

.mobile-menu__inner {
    width: 80%;
    max-width: 320px;
    height: 100%;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-menu__icons {
    display: flex;
    gap: 24px;
}

.mobile-menu__icon-link {
    font-size: 32px;
    color: var(--beauty-landing-2-c1);
}

.mobile-menu__icon-link .icon {
    fill: currentColor;
}