/* ===== MOBILE FIRST: базові стилі (0..767) ===== */

// прибрати фото з мобільної версі
.second-section .container img {
    display: none;
}

/* тулбар на мобілці видно */
.mobile-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    min-height: 46px;
    z-index: 1000;
}

.main-header {
    display: none;
}

/* меню закрите за замовчуванням */
.mobile-menu {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.4);
}

.mobile-menu.is-open {
    display: block;
}

.menu-btn-open {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.why-us-section .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.how_to_find_us-section .how-to-find-wrapper {
    flex-direction: column-reverse;
    gap: 16px;
}

.main-footer {
    margin-top: 22px;
}

/* ===== ≥480px ===== мобільна версія*/
@media (min-width: 480px) {
    .mobile-menu__inner {
        max-width: 360px;
    }


}

@media (max-width: 767px) {
    .main-footer-text-holder {
        position: static;
        min-width: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px 16px;
    }

    .main-footer {
        min-height: auto;
        padding-bottom: 120px;
        /* щоб картинка внизу не налазила */
    }

    .main-footer img {
        max-width: 160px;
        height: auto;
    }

    .hero-section {
        min-height: auto;
        padding-top: 70px;
        /* під mobile-toolbar */
        padding-bottom: 24px;
        /* невеликий відступ до next section */


        background-position: center top;
        background-repeat: no-repeat;
        background-size: auto
    }

    .why_us_cards_text_holder {
        margin-top: 32px;
        /* було 150px */
        gap: 24px;
        /* щоб було компактніше */
    }

    .why-us-section h2 {
        margin-top: 24px;
        /* було 78px */
        margin-bottom: 24px;
        /* було 62px */
    }

    .why-us-section {
        margin-bottom: 60px;
        /* було 110px */
    }

    .second-section .container.d-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .second-section .text-holder {
        max-width: 100%;
    }

    .second-section h2 {
        font-size: 36px;
        line-height: 1.1;
    }

    .second-section .text-holder .h2_span {
        margin-bottom: 16px;

    }

    .second-section .text-holder p {
        font-size: 16px;
        /* було 22 */
        line-height: 1.5;
        /* було 173% */
        margin-bottom: 12px;
        /* було 40 */
    }

    .second-section .text-holder p:last-child {
        margin-bottom: 0;
    }

    // .hero-section .hero-section-hold {
    //     margin: 0 auto;
    //     padding: 0 16px;
    //     max-width: 100%;
    // }

    .hero-section .hero-section-title-bg {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 16px;
    }

    .stars {
        display: none;
    }

    .map-container {
        max-width: 100%;
        width: 100%;
        border-radius: 0;

    }

    .map-container iframe {
        width: 100%;
        height: 320px;
        display: block;
    }

    .how-to-find-wrapper {
        gap: 0;
    }

    .map-container {
        margin-left: -16px;

        margin-right: -16px;
    }

    .hero-section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-color: #fff;

    }

    .map-container {
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        border-radius: 0;
        overflow: hidden;

        position: relative;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    .map-container {
        margin-top: 16px;
    }

    .map-container iframe {
        width: 100%;
        height: 100%;
        display: block;
        border: 0;
    }

    .how-to-find-wrapper {
        gap: 0;
    }

    .how_to_find_us-section {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .main-footer {
        margin-top: 0;
    }

}


/* ===== ≥768px (tablet/desktop) ===== */
@media (min-width: 768px) {
    .main-header {
        display: flex;

    }

    .mobile-toolbar,
    .mobile-menu {
        display: none;
    }

    .second-section .container img {
        display: block;
    }

    .why-us-section .cards {
        flex-direction: row;
        gap: 32px;
    }

    .how_to_find_us-section .how-to-find-wrapper {
        flex-direction: row;
    }

    .main-footer {
        margin-top: 93px;
    }
}

/* ===== ≥1200px ===== */
@media (min-width: 1200px) {}

.mobile-menu__inner {
    width: 80%;
    max-width: 320px;
    height: 100%;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-menu__icons {
    display: flex;
    gap: 24px;
}

.mobile-menu__icon-link {
    font-size: 32px;
    color: var(--beauty-landing-2-c1);
}

.mobile-menu__icon-link .icon {
    fill: currentColor;
}