/* 
Second-section Друга секція Перевтілюйтеся в beauty zone */
.blue_wave_background {
    background-image: url(./images/backgroundnostar.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -7px;
    background-size: cover;
}


.second-section {
    position: relative;

}


.dark-blue-star {
    position: absolute;
    top: 354px;
    left: 975px;
    width: 64px;
    height: 64px;
}

.gray-star {
    position: absolute;
    top: 280px;
    right: 120px;
    width: 16px;
    height: 16px;
}

.blue-star {
    position: absolute;
    top: 60px;
    right: 84px;
    width: 40px;
    height: 40px;

}

.second-section span {
    color: var(--beauty-landing-2-s2);
}

.second-section .text-holder {
    max-width: 709px;
}

.second-section .text-holder .h2_span {
    margin-bottom: 40px;

}

.second-section .text-holder .bold_cap {
    font-weight: 600;
    text-transform: capitalize;
    color: inherit;
}

.second-section .text-holder p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--beauty-landing-2-c1);
    margin-bottom: 40px;

}

@keyframes starFloat {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 0.9;
    }
}

.stars .blue-star,
.stars .gray-star,
.stars .dark-blue-star {
    animation: starFloat 6s infinite linear;
    transform-origin: center;
}