/* Cекція чому люди обирають нас why us */
.why-us-section {
    width: 100%;
    margin-bottom: 110px;
}

.why_us_cards_text_holder {

    width: 100%;
    max-width: 1060px;
    gap: 60px;
    margin: 150px auto 0 auto;
}

.card {

    max-width: 316px;
    padding: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #000;
    background-color: #011f4a;
    border-radius: 32px;
    max-width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--beauty-landing-2-background);
}

.why-us-section span {
    color: var(--beauty-landing-2-c2);

}

.why-us-section h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 78px;
    margin-bottom: 62px;

    @include respond(md) {
        font-size: 32px;
        text-align: center;
    }

    span {
        color: var(--beauty-landing-2-s2);
    }



}

.why-us-text-holder {
    max-width: 432px;
    margin: 0 auto;
}

.why-us-section svg {
    width: 48px;
    height: 48px;
}