button {
    background-color: var(--beauty-landing-2-s2);
    font-family: inherit;
}

.btn {
    --bg: #5c62ec;
    --color: #fff;
    background-color: var(--beauty-landing-2-s2);
    color: var(--color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 10px 28px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    color: var(--color);
    opacity: 0.8;
    transition: 0.2s;
}