@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Medium.eot');
    src: url('RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Medium.woff2') format('woff2'),
        url('RobotoCondensed-Medium.woff') format('woff'),
        url('RobotoCondensed-Medium.ttf') format('truetype'),
        url('RobotoCondensed-Medium.svg#RobotoCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-SemiBold.eot');
    src: url('RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('RobotoCondensed-SemiBold.woff') format('woff'),
        url('RobotoCondensed-SemiBold.ttf') format('truetype'),
        url('RobotoCondensed-SemiBold.svg#RobotoCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Regular.woff2') format('woff2'),
        url('RobotoCondensed-Regular.woff') format('woff'),
        url('RobotoCondensed-Regular.ttf') format('truetype'),
        url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.eot');
    src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Bold.woff2') format('woff2'),
        url('RobotoCondensed-Bold.woff') format('woff'),
        url('RobotoCondensed-Bold.ttf') format('truetype'),
        url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.eot');
    src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff'),
        url('Poppins-SemiBold.ttf') format('truetype'),
        url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.eot');
    src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Bold.woff2') format('woff2'),
        url('Poppins-Bold.woff') format('woff'),
        url('Poppins-Bold.ttf') format('truetype'),
        url('Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.ttf') format('truetype'),
        url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.eot');
    src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff'),
        url('Poppins-Medium.ttf') format('truetype'),
        url('Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url('Play-Bold.eot');
    src: url('Play-Bold.eot?#iefix') format('embedded-opentype'),
        url('Play-Bold.woff2') format('woff2'),
        url('Play-Bold.woff') format('woff'),
        url('Play-Bold.ttf') format('truetype'),
        url('Play-Bold.svg#Play-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url('Play-Regular.eot');
    src: url('Play-Regular.eot?#iefix') format('embedded-opentype'),
        url('Play-Regular.woff2') format('woff2'),
        url('Play-Regular.woff') format('woff'),
        url('Play-Regular.ttf') format('truetype'),
        url('Play-Regular.svg#Play-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

